body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  background-color: rgba(210, 255, 127, 0.334);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.top-container button {
  margin-top: 20px;
}

.top-container header {
  margin-top: 10px;
}

.margin {
  margin: 30px;
}

.time-alert {
  color: red;
  opacity: 50%;
}

button {
  margin: 10px;
}

.question-box {
  font-style: italic;
}

.hide {
  display: none;
}

label {
  font-size: 30px;
}

button {
  width: 100px;
  height: 50px;
  font-size: 20px;
}

.completed {
  color: green;
}

button:hover {
  cursor: pointer;
}

.high-score {
  display: flex;
  flex-direction: column;
  margin-top: 300px;
  align-items: center;
}

.subtract {
  color: red;
}

#countdown {
  color: blue;
}
