* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main-stuff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body .btn-grid {
  display: flex;
  justify-content: center;
  margin: 10px;
}

body .buttons li {
  list-style: none;
  margin: 30px;
}

body .btn-grid .btn {
  width: 100px;
  height: 60px;
  cursor: pointer;
  margin: 10px;

}

.enter-score {
  margin-right: 10px;
}

body #entry {
  display: flex;
  justify-content: center;
}

.countdown {
  font-size: 50px;
}



.hide {
  display: none;
}

.show {
  display: block;
}

.btn {
  width: 100px;
  height: 60px;
  cursor: pointer;
  margin: 10px;

}


